/node_modules
/public/hot
/public/storage
/public/css
/public/js
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
package-lock.json
public/mix-manifest.json
/.idea
/.vscode

# OS Generate Files
.DS_Store
.DS_Store?
